h2 {
	text-align: center;
	font-family: 'Indie Flower', cursive;
	font-size: 4em;
	margin: 2%;
	padding: 1%;
	margin-top: 1%;
}

p {
	display: inline-block;
	width: 100%;
}

#total {
	width: 76%;
	height: 600px;
	margin: 10%;
	margin-top: 2.5%;
	padding: 2%;

}

.text {
	font-family: 'Indie Flower', cursive;
	font-size: 2em;
}
#comp-pick {
	display: flex;
	flex-wrap: wrap;
	width: 45%;
	shape-margin: 2.5%;
	height: 300px;
	float: left;
}

#user-pick {
	display: flex;
	flex-wrap: wrap;
	width: 45%;
	height: 300px;
	float: right;
	shape-margin: 2.5%;
}

.img {
	display: inline-block;
	cursor: pointer;
	width: 100px;
	height: 100px;
	margin: 5%;
}

.img:hover {
  transform: scale(1.5);
 }

#play-button {
	text-align: center;
}

#button {
	background-color: #99cc00;
  	border: none;
  	border-radius: 10px 10px 10px 10px;
  	color: black;
  	padding: 10px 20px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 25px;
  	font-family: 'Indie Flower', cursive;
  	font-weight: bold;
  	margin: 40px 20px;
  	cursor: pointer;
}

#choice {
	text-align: center;
	width: 100%;
	margin-bottom: 15px;
}

.pick-rndm {
	width: 150px;
	height: 150px;
}

#blank-img {
	text-align: center;
	width: 100%;
	margin-bottom: 15px;
}